/* StyleSheet */

#background {
  background-image: url("images/p-b.jpeg");
  background-size: cover;
}

a {
  color: #d63384;
  font-family: monospace;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
}

a:hover {
  text-shadow: -1px -1px 2px whitesmoke;
}

.full-page {
  height: 85vh;
}

@media (min-width: 600px) and (max-width: 900px) {
  #background {
    background-image: url("images/yellowish.jpeg");
    background-size: cover;
  }
}

@media (min-width: 901px) {
  #background {
    background-image: url("images/horizontal-red.jpg");
    background-size: cover;
  }

  #text-front-page {
    margin-top: 30%;
    /* animate to move to center  */
  }
}
